* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.head {
    background-color: red;
}

.head p {
    margin-left: 55px;
    color: aliceblue;
    word-spacing: 20px;

}

.header {
    display: flex;
}

.header img {
    margin-left: 50px;
}

.header h1 {
    margin-top: 20px;
    color: red;
}

.header ul {
    margin-left: 100px;
    display: flex;
}

.header li {
    list-style: none;
    margin-top: 10px;
    font-weight: 500;
}

.header a {
    margin-left: 5px;
    text-decoration: none;
    padding: 10px;
}

.slider {
    background-image: url(../images/slu3.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
}

.section {
    width: 50%;
    height: 300px;
}

.section h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 15px;
    padding-left: 20px;
}

.section p {
    color: whitesmoke;
    padding: 20px;
}

.content h1 {
    padding: 20px;
    text-align: center;
}

.content span {
    color: red;
    font-family: 'times new roman';
    font-weight: 800;
}

.content p {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    text-align: justify;
    padding: 20px;
    letter-spacing: 1px;
}

.box {
    display: flex;
}

.box .first {
    width: 30%;
    height: 500px;
    margin-left: 30px;
}

.first span {
    color: red;
}

.box .second {
    width: 30%;
    height: 500px;
    margin-left: 30px;
}

.second span {
    color: red;
}

.box .third {
    width: 30%;
    height: 500px;
    margin-left: 30px;
}

.third span {
    color: red;
}

.first h1 {
    border-bottom: 1px solid black;
}
.first h1 u{
    text-decoration: underline 5px solid black;
}
.second h1 {
    text-decoration: underline 6px solid black;

}

.third h1 {
    text-decoration: underline 6px solid rgb(53, 116, 17);

}

.first ul {
    margin-left: 15px;
    padding-left: 25px;
    line-height: 25px;
    padding-top: 5px;
    font-weight: 600;
}

.first li {
    list-style: none;
}

.first li span {
    letter-spacing: 6px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.second img {
    width: 100px;
    height: 90px;
    padding-top: 15px;
}

.column {
    display: flex;
}

.row {
    flex: content;
    padding: 2px;
}

.row p {
    padding-top: 15px;
    padding-left: 15px;
}

.row h5 {
    padding-left: 15px;
    background-color: red;
    width: 90px;
    margin-left: 180px;
    margin-top: 20px;
    border-bottom: 4px solid darkgray;
    color: white;
}

.column2 {
    display: flex;
}

.Row {
    flex: content;
    padding: 2px;
}

.Row p {
    padding-top: 15px;
    padding-left: 15px;
}

.Row h5 {
    padding-left: 15px;
    background-color: red;
    width: 90px;
    margin-left: 180px;
    margin-top: 20px;
    border-bottom: 4px solid darkgray;
    color: white;
}

.third img {
    width: 90px;
    height: 80px;
    padding-top: 15px;
    padding-left: 10px;
}

.COLUMN {
    display: flex;
}

.ROW {
    flex: content;
    padding: 2px;
}

.ROW p {
    padding-top: 15px;
    padding-left: 25px;
}

.ROW h5 {
    padding-left: 25px;
    margin-left: 150px;
    color: red;
    font-weight: 500;
}

.COLUMN1 {
    display: flex;
}

.ROw {
    flex: content;
    padding: 2px;
}

.ROw p {
    padding-top: 15px;
    padding-left: 15px;
}

.ROw h5 {
    padding-left: 25px;
    margin-left: 150px;
    color: red;
    font-weight: 500;
}

.ROw span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    margin-left: 250px;
    display: flex;
}

.container {
    width: 400px;
    height: 210px;
    border: 1px solid black;
    margin-top: 15px;
}